* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
}

.col {
    display: flex;
    width: 45px;
    align-items: center;
    justify-content: center;

}

.inputcustom {
    border-color: rgb(1, 145, 145);
    border-radius: 0.5rem;
    width: 50em;
    padding: 4px;
    height: 2.4em;
    font-weight: 550;
    margin-top: 8em;



}

.btn {
    border-radius: 0.5rem;
    width: 10em;
    height: 2em;
    border-color: rgb(3, 175, 118);
    font-size: large;
}

.container {
    display: flex;
    max-width: 1000px;
    height: 20em;
    margin: 0 auto;
    margin-top: 10em;
    border-radius: 1rem;
    background-color: rgb(4, 218, 200);
    justify-content: center;
}

.container-main {
    display: flex;
    max-width: 100%;
    height: 55rem;
    margin: 2em;
    border-radius: 0.4rem;
    background-color: rgb(7, 201, 201);
    justify-content: center;
}

.section-main h1 {
    text-align: center;
    margin-top: 10px;
}

.section-main p {
    margin: 1em;

}

@media (max-width: 768px) {
    .inputcustom {
        display: block;
        width: 20rem;
        height: 4vh;
    }
}

@media (max-width: 600px) {
    .inputcustom {
        display: block;
        width: 20rem;
        height: 4vh;
    }
}